#caja_fecha_modificada.form-group.has-feedback
  label.col-sm-12(for='fechaM')  Fecha de Naciemiento 
  | &#x9;
  .col-md-12
    input#fecha_inputM.form-control.input-sm(type='date', placeholder='fecha nacimiento', name='fechaM', maxlength='10', data-fv-notempty='true', data-fv-message='Ingrese fecha modificada correcta', data-fv-field='fechaM')
