doctype html
html(lang='en')
  head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='author', content='ivan')
    title Taller2 Inicio
    //- Bootstrap Core CSS
    link(href='stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/bootstrap/neon.css', rel='stylesheet')
    //- MetisMenu CSS
    link(href='stylesheets/metisMenu/metisMenu.min.css', rel='stylesheet')
    //-Custom CSS
    link(href='stylesheets/tema/sb-admin-2.css', rel='stylesheet')
    link(href='stylesheets/DataTable/jquery.dataTables.css', rel='stylesheet')
    //- link(href='stylesheets/DataTable/dataTables.bootstrap4.min.css', rel='stylesheet')
    link(href='stylesheets/DataTable/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/DataTable/responsive.dataTables.min.css', rel='stylesheet')
    link(href='stylesheets/formValidation/formValidation.min.css', rel='stylesheet') 
    link(href='stylesheets/style.css', rel='stylesheet')
    //- Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    //-if lt IE 9
      //- script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      //- |         
      //- script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    div(style='margin-top: 0;background: rgba(125, 102, 59, 0.29);height: 150px;')
    |     
    #wrapper
      //- Navigation
      //- nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
      nav.navbar.navbar-inverse.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand.neon-title(href='/inicio') VIP DENTAL
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right
          li.dropdown.responsivo
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              |  
              i.fa.fa-caret-down
            |                     
            ul.dropdown-menu.dropdown-user
              li
                a(href='#')
                  i.fa.fa-user.fa-fw
                  |  Perfil
              |                         
                        
              li.divider
              |                         
              li
                a#cerrar(href='/salir')
                  i.fa.fa-sign-out.fa-fw
                  |  Cerrar Sesion
            //- /.dropdown-user
          //- /.dropdown
        //- /.navbar-top-links
        .sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav(style="background: #272729;")
              each menu, i in menus
                li
                  a.dropmenu(href='#')
                    i.fa.fa-wrench.fa-fw
                    |  Gestion #{menu.nombre}
                    span.fa.arrow               
                  ul.nav.nav-second-level(style='display:none;')
                    li
                      a.enlace(href='#')(data-href='#{menu.enlace}') 
                        | >> #{menu.nombre}      
      #page-wrapper(style="height: auto !important;")
        #contendor(style="background: #ccc3;padding: 0px 15px;")
          | contenido
        #contendor-modales  
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap/bootstrap.min.js')
    //- script(src='javascripts/metisMenu/metisMenu.min.js')
    
    script(src='javascripts/formValidation/formValidation.min.js')
    script(src='javascripts/formValidation/framework/bootstrap.min.js')
    script(src='javascripts/formValidation/es_ES.js')
    script(src='javascripts/jqueryform/jquery.form.js')
        
    script(src='javascripts/metisMenu/menu.js')
    script(src='javascripts/raphael/raphael.min.js')    
    script(src='javascripts/tema/sb-admin-2.js')
    script(src='javascripts/DataTable/jquery.dataTables.js')
    script(src='javascripts/DataTable/dataTables.bootstrap.min.js')
    //- script(src='javascripts/DataTable/dataTables.bootstrap4.min.js')
    script(src='javascripts/DataTable/dataTables.responsive.min.js')
    //- script(src='javascripts/ajax/opciones.js')
    script(src='javascripts/ajax/AjaxUsuarios.js') 
    script(type='text/javascript').
      $(document).ready(function(){
        $('.enlace').on('click',function(){
          //- alert()
          var enlace=$(this).data('href');
          $.ajax({
            type:'post',
            url:enlace,
            success:function(resp){
                $('#contendor').html(resp);
                //- console.log();
            },
            error:function(){
              
            }
            
          })
        })  
      })
